@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject UpdateService Update
@inject NavigationManager NavManager

<div class="container-fluid">
    <h1>Scarif Log Server</h1>

    <p>
        Welcome to the Scarif Log Server web interface. This site will
        let you view and query logs from all registered apps.
    </p>
    <p>
        To begin, please select one of the apps from the left navigation panel.
    </p>

    <div class="alert alert-info" role="alert">
        No apps in the left panel? Check that at least one app is sending data
        to Scarif, and that you haven't lost network connection.
    </div>

    <h2>Online log sources</h2>

    <p>Below you can see a list of all currently active log sources:</p>

    <table class="table">
        <thead>
            <tr>
                <th>Source ID</th>
                <th>App name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var source in OnlineSources)
            {
                <tr>
                    <th>@source.Key</th>
                    <th>@source.Value</th>
                </tr>
            }
        </tbody>
    </table>
</div>

@code
{
    private HubConnection SignalR;

    public IDictionary<string, string> OnlineSources = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        
    }

    private void ReceiveSourcesUpdate(IDictionary<string, string> update)
    {
        OnlineSources = update;
        this.StateHasChanged();
    }
}
