@page "/"

@using Scarif.Web.Client.Components

<h1>Scarif Log Server</h1>

<p class="lead">Unified log server and bulk data visualization platform.</p>

<p>Below you will find a list of all apps registered on Scarif. Apps are
    registered automatically by the log sources when they connect to the
    server, and can be modified or deleted from the Settings page.</p>
<p>Please allow a few seconds for the list of apps to populate.</p>

<AppList />


@code
{ 

}
