@page "/"

@using Scarif.Web.Client.Components

<p class="tracking-wide text-lg">
    Below you will find a list of all apps registered on Scarif. Apps are
    registered automatically by the log sources when they connect to the
    server, and can be modified or deleted from the Settings page.
</p>
<p class="tracking-wide text-gray-400">
    Please allow a few seconds for the list of apps to populate.
</p>

<AppList />


@code
{ 

}
