@inherits LayoutComponentBase

@using Scarif.Web.Client.Components

<Jumbotron Title="Scarif Log Server"
           Caption="Unified log server and bulk data visualization platform." />
<Navigation />

<div class="w-full h-full p-2 md:p-8">

    @Body

</div>
